@model _9jasorosoke.Repositories.Models.CompanyOwnerModel

@{
    ViewData["Title"] = "CompanyOwnerDetails";
    var PurchaseReciept = Model.PurchaseReciept;
    Layout = null;
}

<link href="~/css/aos.css" rel="stylesheet" />
<link href="~/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/css/tooplate-gymso-style.css" rel="stylesheet" />

<section class="feature" id="feature">
    <div class="container">
        <div class="row">
            <div class="mr-lg-auto mt-auto col-lg-12 col-md-12 col-12">
                <div class="about-working-hours">
                    <div>
                        <strong class="d-block" data-aos="fade-up" data-aos-delay="600">
                            Purchase Reciept : <br />
                            <img src="@PurchaseReciept" id="idimg" style="width: 350px; height: 350px;" />
                        </strong> <br />
                        <div class="row">
                            <div class="col-6">
                                <strong class="d-block" data-aos="fade-up" data-aos-delay="600">
                                    Company Name : @Model.CompanyName
                                </strong> <br />
                                <strong class="d-block" data-aos="fade-up" data-aos-delay="600">
                                    Company Phone Number: @Model.CompanyPhoneNumber
                                </strong> <br />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <strong class="d-block" data-aos="fade-up" data-aos-delay="600">
                                    Company Address : @Model.CompanyAddress
                                </strong> <br />
                                <strong class="d-block" data-aos="fade-up" data-aos-delay="600">
                                    Date Purchased : @Model.DatePurchased.ToShortDateString()
                                </strong> <br />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <strong class="d-block" data-aos="fade-up" data-aos-delay="600">
                                    Fuel Depot Name : @Model.FuelDepotName
                                </strong> <br />
                                <strong class="d-block" data-aos="fade-up" data-aos-delay="600">
                                    Fuel Depot Address : @Model.FuelDepotAddress
                                </strong> <br />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <strong class="d-block" data-aos="fade-up" data-aos-delay="600">
                                    Date Reported : @Model.DateReported
                                </strong> <br />

                            </div>
                        </div>

                        <a href="~/Home/LandingPage" class="btn custom-btn bg-color mt-3" data-aos="fade-up" data-aos-delay="300" data-toggle="modal" data-target="">Back to List</a>


                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<script src="~/js/jquery.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/aos.js"></script>
<script src="~/js/smoothscroll.js"></script>
<script src="~/js/custom.js"></script>
