@model _9jasorosoke.Repositories.Models.CarOwner

@{
    ViewData["Title"] = "GetCarOwnersReportById";
    
        var ProofOfVehicleOwnerShip = Model.ProofOfVehicleOwnerShip;
        var PurchaseReciept = Model.PurchaseReciept;

}

<h1>Car Owner Report Details </h1>

<div>
    <h4>CarOwner</h4>
    <hr />
    <dl class="row">
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProofOfVehicleOwnerShip)
        </dt>
        <dd class="col-sm-10">
            <img src="@ProofOfVehicleOwnerShip" id="idimg" style="width: 50px; height: 50px;" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseReciept)
        </dt>
        <dd class="col-sm-10">
            <img src="@PurchaseReciept" id="idimg" style="width: 50px; height: 50px;" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseLocation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PurchaseLocation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NameOfFuelingStation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NameOfFuelingStation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DatePurchased)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DatePurchased)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateReported)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateReported)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="CarOwnersReports">Back to List</a>
</div>
